---
import { langStaticPaths } from "../../../lang";
import Contributors from "../../components/blocks/index/contributors.astro";
import ForWhatTMM from "../../components/blocks/index/forWhatTMM.astro";
import Main from "../../components/blocks/index/main.astro";
import WhyTMM from "../../components/blocks/index/whyTMM.astro";
import Layout from "../../layouts/Layout.astro";
import getTranslation from "../../modules/getTranslation";

export function getStaticPaths() {
    return langStaticPaths;
}

let { lang } = Astro.params;

let translation = getTranslation(lang);
---

<Layout title="Tao Mod Manager" lang={lang}>
    <Main lang={translation} />
    <div class="flex xl:flex-nowrap flex-wrap">
        <ForWhatTMM lang={translation} />
        <WhyTMM lang={translation} />
    </div>
    <Contributors lang={translation} />
</Layout>
